{
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "6",
            "browsers": [
              "last 3 versions",
              "ie >= 11"
            ]
          }
        }]
      ],
      "plugins": ["rewire"],
      "sourceMaps": "inline"
    },
      "es5": {
        "presets": [
          ["env", {
            "targets": {
              "node": "6",
              "browsers": [
                "last 3 versions",
                "ie >= 11"
              ]
            }
          }]
        ],
        "plugins": [
          "add-module-exports"
        ]
      },
      "es-modules": {
        "presets": [
          ["env", {
            "targets": {
              "node": "6",
              "browsers": [
                "last 3 versions",
                "ie >= 11"
              ]
            },
            "modules": false
          }]
        ]
      }
  }
}
