version: 2

updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "00:00"
      timezone: UTC
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "fast-copy"
        versions:
          - ">=3.0.0"
    commit-message:
      prefix: build
      include: scope

    cooldown:
      default-days: 15